/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.loginBtn{
	-fx-background-color: #828282;
	-fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-size: 20.0px;
    -fx-font-weight: bold;
    -fx-padding: 1.0em;
    -fx-max-width: 400px;
    -fx-min-width: 400px;
    -fx-max-height: 80px;
    -fx-min-height: 80px;
}

.tab{

}

.calendarTab{
	-fx-rotate: 90.0;	    
}

.calendarTabPane{
	-fx-tab-min-width:100.0px;
	-fx-tab-max-width:100.0px;
  	-fx-tab-min-height:100.0px;
 	-fx-tab-max-height:100.0px;
}

.loginTabPane{
	-fx-tab-min-width:615px;
	-fx-tab-max-width:615px;
  	-fx-tab-min-height:60.0px;
 	-fx-tab-max-height:60.0px;
}

.tab-pane{


}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0.0;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 25.0px;
    -fx-font-weight: bold;
    -fx-padding: 0.2em;

}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}

.tab-pane .tab:selected{
    -fx-background-color: #3c3c3c;   
}

.root{
	/*-fx-background-image: url("../pictures/bg.jpeg");*/
	-fx-background-color: #88b4fc;	
	-fx-font-size: 1.5em;
}

.headerLabels{
	-fx-background-color: #1f4b93;
}



.customerMenuWrapper Button{
	-fx-max-width: infinity; 
}

.adminMenuButton{
	-fx-font-size: 1.5em ;
	-fx-max-width: 300.0px;
	-fx-min-width: 300.0px;
	-fx-background-color: #88b4fc;
}

.customerMenuBar{
	-fx-padding: 10.0px;
	-fx-background-color: #88b4fc;
	-fx-border-color: #2654a0;
	-fx-border-width: 4.0px;
	-fx-border-radius: 3.0px;
	-fx-cursor:hand;
}

.checkListView{
	-fx-pref-width: 600.0px;
}

.checkListView:focused .checkListCell:filled:focused:selected {
    -fx-background-color: red;
    -fx-background-insets: 0, 1, 2;

}

.list-view {
	-fx-background-color: #88b4fc;
	-fx-border-color: #2654a0;
	-fx-border-width: 4.0px;
	-fx-border-radius: 3.0px;
	-fx-background-insets: 0;
	-fx-padding:0;
}

.list-cell:even {
	-fx-background-color : #88b4fc;

	
}
.list-cell:odd {
	-fx-background-color : #88c4ff;
	
	
}

.CustomerHomeLists-cell:even {
	-fx-background-color : red;
}
.CustomerHomeLists-cell:odd {
	-fx-background-color : green;
}
.stackpane{
	-fx-border-color: black;
	-fx-border-width: 2.0px;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 1.0 ;
}

.gridPane{
	-fx-border-color: black;
	-fx-border-width: 2.0px;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 1.0 ;
}

.currentDate{
	-fx-border-color: yellow;
	-fx-border-width: 2.0px;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 1.0 ;
    -fx-background-color: #1f4b93;
}

.pwLogin .usernameLogin .pwAsiakasLogin .usernameAsiakasLogin {
	-fx-padding: 0.1em;
	-fx-background-color: red;
	-fx-font-size: 25px;
}

.nextButton{
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-background-image: url("../pictures/previous.png"); 
	-fx-rotate: 180.0;
	-fx-background-size: 50.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90.0%;
    -fx-cursor:hand;
    
}

.previousButton{
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-background-image: url("../pictures/previous.png");
	-fx-background-size: 50.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90.0%; 
	-fx-cursor:hand;

}

.addBloodButton{
}

.startButton{
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-background-image: url("../pictures/previous.png");
	-fx-background-size: 50.0px;
	-fx-rotate: 90.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90.0%; 
}



